$colors-purple-bright: #9854c0;
$colors-purple-dark: #2d283e;
$colors-purple-darker: #0C0410;
$colors-purple-gray-light: #564F6F;
$colors-purple-gray-dark: #4C495d;
$colors-gray-light: #d1d7e0;
$colors-gray-dark: #1C1B22;